<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<hr>
		<p>
		  Title:
		  <strong><%= @showing.title %></strong>
		</p>
		 
		<p>
		  Time:
		  <strong><%= @showing.time.localtime.to_formatted_s(:short) %></strong>
		</p>
		<p>
		  Seats Remaining:
		  <strong><%= @showing.seat_count %></strong>
		</p>
		<p>
		  Auditorium:
		  <strong><%= @showing.auditorium %></strong>
		</p>
		<br>
		<% unless @showing.time > Time.now %>
			<%= button_to "Edit", edit_showing_path, method: :get %>
		<% end %>
	</div>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
    	<th>Name</th>
  		<th>Email</th>
    	<th>CC Num/Exp</th>
    </tr>
  </thead>
  <tbody>
  	<% @showing.tickets.each do |ticket| %>
  	<tr>
  	  <td><%= ticket.name %></td>
  	  <td><%= ticket.email %></td>
  	  <td><%= ticket.cc_num %><br><%= ticket.cc_exp %></td>
  	</tr>
  	<% end %>
  </tbody>
</table>
